body{

}

.information {
    width: 350px;
    margin: 0px auto;
}

.text-center {
    text-align: center;
}

p{
    margin: 0px auto;
    margin-bottom: 12px;
    text-align: left;
    max-width: 350px;
}

.cblock {
    width: 600px;
    margin: 0px auto;
}

.progress-bars{
    text-align: center;
}